<div class="my-5">
    <div *ngIf="userInfo != undefined">
        <h3>Usuário: {{userInfo.name}}</h3>
        <button (click)="resetSessionsUser()" class="btn btn-danger w-100 min55">
            <div class="row">
                <div class="col-2 my-auto" [hidden]="!resettingUser">
                    <object data="assets/spinner-1s-200px-white.svg" width="35px"></object>
                </div>
                <div class="col-10 m-auto">
                    {{resettingUser? "Resetando usuário" : "Resetar usuário"}}
                </div>
            </div>
        </button>
        <div class="my-2">
            <h5>Interesses:</h5>
            <div *ngFor="let interest of userInfo.interestPerTag.sort(sortTagsByInterest)">
                <span class="badge text-bg-primary">{{interest.tagName}}</span>: {{interest.interestAmount | number:'1.0-0'}}
            </div>
        </div>
        <div class="my-2">
            <h5>Histórico de vídeos:</h5>
            <ul>
                <li *ngFor="let video of userInfo.userVideoHistory.reverse()">
                    {{video.name}}
                </li>
            </ul>
        </div>
    </div>
</div>
