<div class="row pt-5">
    <button (click)="refreshVideos()" class="btn btn-primary m-auto col-5">
        <div class="row">
            <div class="col-1" [hidden]="!loadingVideos">
                <object data="assets/spinner-1s-200px-white.svg" width="50px"></object>
            </div>
            <div class="col-11 m-auto">
                <h3>{{loadingVideos? "Carregando vídeos" : "Recarregar videos"}}</h3>
            </div>
        </div>
    </button>
</div>
<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-2 my-5">
    <div class="col" *ngFor="let video of videos">
        <div class="card clickable h-100" [style.opacity]="clickedVideoId == video.id ? '30%' : '100%'" (click)="clickVideo(video)">
            <img [src]="'https://api.lorem.space/image?w=150&h=180&random='+video.id" class="card-img-top imagem-cartao" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{video.name}}</h5>
                <p class="card-text">Visualizações: {{video.views}}</p>
                <div>
                    <span class="badge text-bg-primary m-1" *ngFor="let tag of video.tags">
                    {{tag}}
                    </span>
                </div>
            </div>
          </div>
    </div>    
</div>